.navbar {
  display: flex;
  align-items: center;
}

.navList {
  display: flex;
  list-style: none;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.navItem {
  display: flex;
  align-items: center;
}

/* Style all <a> inside navbar items */
.navItem a {
  text-decoration: none;
  color: var(--color-text);
  font-weight: 500;
  transition: color 0.2s ease-in-out;
}

.navItem a:hover {
  color: var(--color-brand);
}

/* .navItem a[aria-current="page"] {
  color: var(--color-brand-active);
  border-bottom: 1px solid var(--color-brand-active);
} */


/* .navItem a.active {
  color: var(--color-brand-active);
  border-bottom: 1px solid var(--color-brand-active);
} */